* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(24, 24, 24);
    background: url('background.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Playwrite AT", cursive;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: white;
}

img {
    border-radius: 50%;
    width: 0;
    animation: rotate 1s linear forwards;
    margin-bottom: 20px;
}

.info h1 {
    font-size: 53px;
    margin-bottom: 15px;
}

.social {
    display: flex;
    align-items: center;
    gap: 18px
}

.social i {
    font-size: 38px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.social a:first-of-type:hover i {
    color: #1877F2;
}

.social a:last-of-type:hover i {
    color: #c13584;
}

@keyframes rotate {
    to {
        width: 300px;
        rotate: 360deg;
    }
}


@media (max-width:996px) {
    @keyframes rotate {
        to {
            width: 250px;
            rotate: 360deg;
        }
    }

    .info h1 {
        font-size: 50px;
    }


    .social i {
        font-size: 35px;
    }

}

@media (max-width:996px) {
    @keyframes rotate {
        to {
            width: 180px;
            rotate: 360deg;
        }
    }

    .info h1 {
        font-size: 35px;
    }


    .social i {
        font-size: 28px;
    }

}
